xml/sellers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="sellers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="seller" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="firstName"/>
                            <xs:element type="xs:string" name="lastName"/>
                            <xs:element type="xs:string" name="username"/>
                            <xs:element type="xs:string" name="password"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:string" name="telephone"/>
                            <xs:element type="xs:string" name="POS"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>