Database/xml/buyers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="buyers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="buyer" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="fullName"/>
                            <xs:element type="xs:string" name="email"/>
                            <xs:element type="xs:string" name="telephone"/>
                            <xs:element name="logIn" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="username"/>
                                        <xs:element type="xs:string" name="password"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="creditCard">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:long" name="number"/>
                                        <xs:element type="xs:string" name="type"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>